{% extends "base.html" %}
{% block content %}
    {% include "/navgbar.html" %}
    <div class="card-wrapper">
        <div class="card login-card">
            <h1 class="center">Log In</h1>
            <form class="login_form" name="login_form">
                <label for="student_id" class="label">Student Number</label>
                <input type="text"
                       name="student_id"
                       class="field"
                       placeholder="Student Number (e.g. 52327765)"
                       id="student_id"
                       required
                       autocomplete="false" />
                <p class="error error--hidden"></p>
                <input type="submit" value="Log In" class="btn" />
            </form>
            <p class="center">
                Are you part of the placement team?
                <a href="{{ url_for("login") }}">Login</a>
            </p>
            <p class="center">
                Are you an employer?
                <a href="{{ url_for("employer_login") }}">Login</a>
            </p>
        </div>
        <div id="otpModal" class="modal">
            <div class="modal-content">
                <form class="otp_form form-group" name="otp_form" id="otpForm">
                    <p>
                        An <strong>OTP</strong> has been sent to your email.
                    </p>
                    <label for="otpInput" class="text-start">OTP:</label>
                    <input id="otpInput"
                           type="text"
                           name="otp"
                           class="field"
                           placeholder="OTP"
                           required />
                    <button class="btn" id="otpSubmit" type="submit">Submit</button>
                    <button onclick="cancelOtp()" class="btn" id="otpCancel" type="button">Cancel</button>
                    <p class="error error--hidden"></p>
                </form>
            </div>
        </div>
        <script src="/static/student_login/script.js"></script>
    </div>
{% endblock content %}
