{% extends "base.html" %}
{% block content %}
    {% include "/user/navbar.html" %}
    <!-- {% include "/student/navbar.html" %} -->
    <div class="card-wrapper">
        <div class="card">
            <h1 class="center">Upload</h1>
            <form name="upload_xls_form"
                  class="upload_form"
                  enctype="multipart/form-data">
                <label for="file">XLSX</label>
                <input type="file" name="file" class="field" required accept=".xlsx" />
                <p class="error error--hidden"></p>
                <input type="submit" value="Upload" class="btn" />
            </form>
            <script src="/static/student_upload/script.js"></script>
        </div>
    </div>
{% endblock content %}
