# requirements.txt

astroid>=3.3.8
black>=25.1.0
blinker>=1.9.0
cachelib>=0.9.0
certifi>=2025.1.31
click>=8.1.8
colorama>=0.4.6
coverage>=7.6.12
cssbeautifier>=1.15.3
dill>=0.3.9
djlint>=1.36.4
dnspython>=2.7.0
EditorConfig>=0.17.0
et_xmlfile>=2.0.0
exceptiongroup>=1.2.2
execnet>=2.1.1
Flask>=3.1.0
Flask-Caching>=2.3.0
gunicorn>=23.0.0
html-tag-names>=0.1.2
html-void-elements>=0.1.0
iniconfig>=2.0.0
isort>=6.0.0
itsdangerous>=2.2.0
Jinja2>=3.1.5
jsbeautifier>=1.15.3
json5>=0.10.0
MarkupSafe>=3.0.2
mccabe>=0.7.0
mypy-extensions>=1.0.0
numpy>=2.2.2
openpyxl>=3.1.5
packaging>=24.2
pandas>=2.2.3
pandas-stubs>=2.2.3.241126
passlib>=1.7.4
pathspec>=0.12.1
platformdirs>=4.3.6
pluggy>=1.5.0
pylint>=3.3.4
pymongo>=4.11.1
pytest>=8.3.4
pytest-cov>=6.0.0
pytest-mock>=3.14.0
pytest-xdist>=3.6.1
python-dateutil>=2.9.0.post0
python-dotenv>=1.0.1
pytz>=2025.1
PyYAML>=6.0.2
regex>=2024.11.6
six>=1.17.0
tomli>=2.2.1
tomlkit>=0.13.2
tqdm>=4.67.1
types-passlib>=1.7.7.20241221
types-pytz>=2025.1.0.20250204
typing_extensions>=4.12.2
tzdata>=2025.1
Werkzeug>=3.1.3
