{% extends "base.html" %}
{% block content %}
    <div class="container mt-5">
        <div class="card">
            <div class="card-header text-center">
                <h1>Search Opportunities</h1>
            </div>
            <div class="card-body">
                <form id="searchForm" class="row g-3">
                    <div class="col-md-6">
                        <label for="title" class="form-label">Title:</label>
                        <input type="text" id="title" name="title" class="form-control" />
                    </div>
                    {% if user_type == "admin" %}
                        <div class="col-md-6">
                            <label for="company" class="form-label">Company:</label>
                            <input type="text" id="company" name="company" class="form-control" />
                        </div>
                    {% endif %}
                    <div class="col-12 text-center mt-3">
                        <p class="error error--hidden text-danger"></p>
                        <button type="submit" class="btn btn-primary">Search</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="table-responsive mt-5">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Description</th>
                        <th>URL</th>
                        <th>Location</th>
                        <th>Modules Required</th>
                        <th>Courses Required</th>
                        <th>Spots Available</th>
                        <th>Duration</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody id="opportunity-table">
                    {% for opportunity in opportunities %}
                        <tr>
                            <td>{{ opportunity.title }}</td>
                            <td>{{ opportunity.description }}</td>
                            <td>
                                <a href="{{ opportunity.url }}">{{ opportunity.url }}</a>
                            </td>
                            {% if user_type == "admin" %}<td>{{ opportunity.company_name }}</td>{% endif %}
                            <td>{{ opportunity.location }}</td>
                            <td>{{ opportunity.modules_required }}</td>
                            <td>{{ opportunity.courses_required }}</td>
                            <td>{{ opportunity.spots_available }}</td>
                            <td>{{ opportunity.duration }}</td>
                            <td>
                                <a href="{{ url_for('employers_rank_students', opportunity_id=opportunity._id) }}"
                                   class="btn btn-info btn-sm">Rank</a>
                                <a href="{{ url_for('employer_add_update_opportunity', opportunity_id=opportunity._id) }}"
                                   class="btn btn-info btn-sm">Update</a>
                                <a href="{{ url_for('employer_delete_opportunity', opportunity_id=opportunity._id) }}"
                                   class="btn btn-danger btn-sm">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <script src="/static/search_opportunities/script.js"></script>
    </div>
{% endblock content %}
