{% include "navgbar.html" %}
<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
    <div class="container-fluid">
        <ul class="nav nav-pills mx-auto">
            <li class="nav-item">
                <a class="nav-link {% if 'opportunities/search' in request.path %}active{% endif %}"
                   href="{{ url_for("search_opportunities") }}">Search Your Opportunities</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if 'opportunities/employer_add_update_opportunity' in request.path %}active{% endif %}"
                   href="{{ url_for("employer_add_update_opportunity") }}">Add Opportunities</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if page == 'opportunities' %}active{% endif %}"
                   href="{{ url_for("upload_opportunities") }}">Upload Opportunities</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if '' %}active{% endif %}"
                   href="#" id="delete-all-opportunities">Delete All Opportunities</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if '' %}active{% endif %}"
                   href="{{ url_for("download_opportunities") }}">Download All Opportunities</a>
            </li>
        </ul>
    </div>
</nav>

<script>
    document.getElementById("delete-all-opportunities").addEventListener("click", async () => {
        if (confirm("Are you sure you want to delete all opportunities? This action cannot be undone.")) {
            if (confirm("This is your last warning. Do you really want to delete all opportunities?")) {
                try {
                    const response = await fetch("{{ url_for('delete_all_opportunities' )}}", {
                        method: "DELETE",
                    });

                    if (response.ok) {
                        window.location.reload();
                    } else {
                        const errorData = await response.json();
                        alert(errorData.error || "Failed to delete employers.");
                    }
                } catch (error) {
                    console.error(error);
                    alert("An error occurred while trying to delete employers.");
                }
            }
        }
    });
</script>
