{% extends "base.html" %}
{% block content %}
    {% include "user/navbar.html" %}
    <div class="card-wrapper">
        <div class="card">
            <h1 class="center">Tutorial</h1>
            <button type="button" class="btn btn-primary" onclick="window.history.back()">Back</button>
            <h2>User Management</h2>
            <ul>
                <li>
                    <a href="#login-card">Login</a>
                </li>
                <li>
                    <a href="">Navigation</a>
                </li>
                <li>
                    <a href="">Add Students</a>
                </li>
                <li>
                    <a href="">Update Students</a>
                </li>
            </ul>
            <h2>Course Modules Management</h2>
            <ul>
                <li>
                    <a href="">Add Course Modules</a>
                </li>
                <li>
                    <a href="">Edit/Delete Course Modules</a>
                </li>
            </ul>
            <h2>Courses Management</h2>
            <ul>
                <li>
                    <a href="">Add Courses</a>
                </li>
                <li>
                    <a href="">Edit/Delete Courses</a>
                </li>
            </ul>
            <h2>Employer Management</h2>
            <ul>
                <li>
                    <a href="">Add Employers</a>
                </li>
                <li>
                    <a href="">Edit/Delete Employers</a>
                </li>
            </ul>
            <h2>Skill Management</h2>
            <ul>
                <li>
                    <a href="">Add Skills</a>
                </li>
                <li>
                    <a href="">Search Skills</a>
                </li>
                <li>
                    <a href="">Update Skills</a>
                </li>
            </ul>
            <h2>Opportunities</h2>
            <ul>
                <li>
                    <a href="">View Opportunities</a>
                </li>
                <li>
                    <a href="">Update Opportunities</a>
                </li>
            </ul>
            <h2>Deadline Managment</h2>
            <ul>
                <li>
                    <a href="">What deadlines do</a>
                </li>
                <li>
                    <a href="">Edit/Delete Deadline</a>
                </li>
            </ul>
            <h2>Matching Management</h2>
            <ul>
                <li>
                    <a href=" ">Matching</a>
                </li>
                <li>
                    <a href="">Problems</a>
                </li>
            </ul>
        </div>
        <div class="card" id="login-card">
            <h1 class="center">Login Tutorial</h1>
            <p>
                To login, click on the "Login" on the question "Are you part of the placement team? Login" on the student/employer login page.
                <br>
                Once you click on the "Login" button, you will be redirected to the login for placement teams.
                <br>
                Enter your username and password and click on the "Login" button. This will redirect you to the admin dashboard.
                <br>
                If you want to sign out of the admin dashboard, click on the dropdown in the top right corner and press signout.
            </p>
        </div>
    </div>
    <script>document.title = "Tutorial";</script>
{% endblock content %}
