{% extends "base.html" %} {% block content %}
<div class="card-wrapper">
    <div class="card">
        <h1 class="center">Register</h1>

        <form class="change_password" name="change_password">
            <div class="password-container">
                <input
                    type="password"
                    name="old_password"
                    class="field"
                    placeholder="Old Password"
                    required
                />
            </div>

            <div class="password-container">
                <input
                    type="password"
                    name="new_password"
                    class="field"
                    placeholder="New Password"
                    required
                />
            </div>

            <div class="password-container">
                <input
                    type="password"
                    name="confirm_password"
                    class="field"
                    placeholder="Confirm Password"
                    required
                />
            </div>

            <p class="error error--hidden"></p>

            <input type="submit" value="Register" class="btn" />
        </form>

        
        </p>
    </div>
</div>

<script src="/static/change_password/script.js"></script>
{% endblock %}
