{% extends "base.html" %}
{% block content %}
    {% if user_type == "admin" %}
        {% include "user/navbar.html" %}
    {% elif user_type == "employer" %}
        {% include "employer/navbar.html" %}
    {% else %}
        {% include "navgbar.html" %}
    {% endif %}
    <div class="card-wrapper">
        <div class="card">
            <h2 class="center">Cookies Policy</h2>
            <p>
                We do not use cookies to track your activity or store any personal data.
                The only information stored in cookies is your session login status, which
                allows us to determine if you are logged in. This is essential for accessing
                certain features of our platform.
            </p>
            <p>
                No tracking, analytics, or third-party cookies are used on our site.
                Once you log out, the session cookie is cleared automatically.
            </p>
            <h3>Cookies Usage</h3>
            <p>
                Our cookies are used solely for the purpose of maintaining your session while
                you are logged into the platform. These cookies help us recognize if you are
                logged in and provide a seamless user experience.
            </p>
            <h3>Changes to This Policy</h3>
            <p>
                We may update this cookies policy from time to time to reflect changes in our
                practices. Any changes will be posted on this page, and if the changes are
                significant.
            </p>
            <h3>Additional Cookies</h3>
            <p>
                The only other additional cookies are the necessary cookies for the website to function.
                For example, cookies that manage the appearance for the footer for each university. To see the extra cookies go the university's cookies policy page.
            </p>
            <button type="button" class="btn btn-primary" onclick="window.history.back()">Back</button>
        </div>
    </div>
{% endblock content %}
