<footer>
  
  <div class="container">
    <div class="footer_wrapper">
          
          <div class="right_column">
            <ul class="footer_utility_links">
              <li>
                <a href="https://www.abdn.ac.uk/students/">For Students</a>
              </li>
              <li>
                <a href="https://www.abdn.ac.uk/staffnet/">For Staff</a>
              </li>
            </ul>
            <div class="global_social">
              <h2>Connect With Us</h2>
              <ul>
                <li>
                  <a href="https://www.youtube.com/user/uniofaberdeen"
                     class="fab fa-youtube"
                     title="YouTube"
                     target="_blank"
                     rel="noopener noreferrer">
                    <i class="offscreen">YouTube</i>
                  </a>
                </li>
                <li>
                  <a href="https://twitter.com/aberdeenuni/"
                     class="fab fa-twitter"
                     title="Twitter"
                     target="_blank"
                     rel="noopener noreferrer">
                    <i class="offscreen">Twitter</i>
                  </a>
                </li>
                <li>
                  <a href="https://www.facebook.com/universityofaberdeen/"
                     class="fab fa-facebook-square"
                     title="Facebook"
                     target="_blank"
                     rel="noopener noreferrer">
                    <i class="offscreen">Facebook</i>
                  </a>
                </li>
                <li>
                  <a href="https://pinterest.com/aberdeenuni/"
                     class="fab fa-pinterest"
                     title="Pinterest"
                     target="_blank"
                     rel="noopener noreferrer">
                    <i class="offscreen">Pinterest</i>
                  </a>
                </li>
                <li>
                  <a href="https://www.instagram.com/uniofaberdeen/"
                     class="fab fa-instagram"
                     title="Instagram"
                     target="_blank"
                     rel="noopener noreferrer">
                    <i class="offscreen">Instagram</i>
                  </a>
                </li>
                <li>
                  <a href="https://www.linkedin.com/school/13849"
                     class="fab fa-linkedin"
                     title="LinkedIn"
                     target="_blank"
                     rel="noopener noreferrer">
                    <i class="offscreen">LinkedIn</i>
                  </a>
                </li>
                <li>
                  <a href="https://www.weibo.com/abdn"
                     class="fab fa-weibo"
                     title="Weibo"
                     target="_blank"
                     rel="noopener noreferrer">
                    <i class="offscreen">Weibo</i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="left_column">
            <div class="global_contact"
                 itemscope
                 itemtype="https://schema.org/CollegeOrUniversity">
              <h2 class="offscreen">Contact Us</h2>
              <a href="https://www.abdn.ac.uk" class="uni_logo_footer">
                <img src="https://www.abdn.ac.uk/media/university-of-aberdeen/site-assets/images/UoA_Landscape_Logo_CMYK_REVERSE_2018.svg"
                     srcset="https://www.abdn.ac.uk/media/university-of-aberdeen/site-assets/images/UoA_Landscape_Logo_CMYK_REVERSE_2018.svg"
                     alt="University of Aberdeen">
              </a>
              <dl>
                <dt>Address</dt>
                <dd class="address" itemscope itemtype="https://schema.org/PostalAddress">
                  <p>
                    <span itemprop="name">University of Aberdeen</span>
                    <br />
                    <span itemprop="streetAddress">King's College</span>,
                    <br />
                    <span itemprop="addressLocality">Aberdeen</span>,
                    <br />
                    <span itemprop="postalCode">AB24 3FX</span>
                  </p>
                </dd>
                <dt>Phone</dt>
                <dd itemprop="telephone" class="phone">
                  Tel: <a href="tel:+441224272000">+44 (0)1224 272000</a>
                </dd>
              </dl>
              <div class="where_are_we utility">
                <ul>
                  <li>
                    <a href="https://www.abdn.ac.uk/about/contact/">Contacts</a>
                  </li>
                  <li>
                    <a href="https://www.abdn.ac.uk/about/our-website/a-to-z/">A to Z</a>
                  </li>
                  <li>
                    <a href="https://www.abdn.ac.uk/about/campus/maps/">Maps and Directions</a>
                  </li>
                  <li>
                    <a href="https://www.abdn.ac.uk/people/">Staff Directory</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="top_of_page_align">
          <a href="#top" class="top_of_page">Top of Page</a>
        </div>
      </div>
      <div class="dark">
        <div class="container">
          <div class="legals utility">
            <ul>
              <li>
                <a href="https://www.abdn.ac.uk/about/our-website/terms-and-conditions-of-use/">Terms and Conditions of Use</a>
              </li>
              <li>
                <a href="https://www.abdn.ac.uk/about/your-privacy/">Your Privacy</a>
              </li>
              <li>
                <a href="https://www.abdn.ac.uk/about/our-website/accessibility/">Accessibility</a>
              </li>
              <li>
                <a href="https://www.abdn.ac.uk/about/our-website/cookies/">Cookies</a>
              </li>
              <li>
                <a href="https://www.abdn.ac.uk/about/our-website/slavery--human-trafficking-statement/">Slavery &amp; Human Trafficking Statement</a>
              </li>
              <li>
                <a href="https://www.abdn.ac.uk/staffnet/governance/legal-and-compliance/foi-scotland/">Freedom of Information</a>
              </li>
            </ul>
          </div>
          <div class="charity">
            <p>The University of Aberdeen is a charity registered in Scotland, No.SC013683</p>
          </div>
        </div>
      </div>
    </footer>