<nav class="navbar navbar-expand-lg {% if session['theme'] == 'dark' %}navbar-dark bg-dark{% else %}navbar-light bg-light{% endif %}">
  <div class="container-fluid">
    <a href="{{ url_for("index") }}">
      <h1 class="title">SkillPilot</h1>
    </a>
    <div class="d-flex ms-auto align-items-center">
      <button class="btn btn-light dropdown-toggle"
              type="button"
              id="userGreetingButton"
              data-bs-toggle="dropdown"
              aria-expanded="false">
        <span id="userGreetingText">
          {% if user_type == 'admin' %}
            Account, {{ session.user.name }}
          {% elif user_type == 'employer' %}
            Account, {{ session.employer.company_name }}
          {% elif user_type == 'student' %}
            Account, {{ session.student.first_name }}
          {% elif user_type == 'superuser' %}
            Account, Superuser
          {% else %}
            Account
          {% endif %}
        </span>
      </button>
      <ul class="dropdown-menu dropdown-menu-end"
          aria-labelledby="userGreetingButton">
        <li>
          <a class="dropdown-item" href="{{ url_for("tutorial") }}">Tutorial</a>
        </li>
        <li>
          <a class="dropdown-item" href="{{ url_for("toggle_theme") }}"> Toggle
            {% if session["theme"] == "light" %}
              dark
            {% else %}
              light
            {% endif %}
          </a>
        </li>
        {% if user_type == 'student' %}
          <li>
            <a class="dropdown-item" href="{{ url_for("login_student") }}">Task</a>
          </li>
        {% endif %}
        {% if user_type in ['admin', 'employer', 'student', 'superuser'] %}
          <li>
            <a class="dropdown-item" href="{{ url_for("signout") }}">Sign Out</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
