<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a href="{{ url_for("index") }}">
            <h1>SkillPilot</h1>
        </a>
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown">
                    <button class="btn btn-light dropdown-toggle d-flex align-items-center"
                            type="button"
                            id="userGreetingButton"
                            data-bs-toggle="dropdown"
                            aria-expanded="false">
                        <span id="userGreetingText">
                            {% if user_type == "admin" %}
                            Hello, {{ session['user']['name'] }}
                            {% elif user_type == "employer" %}
                            Hello, {{ employer.company_name }}
                            {% elif user_type == "student" %}
                            Hello, {{ student.first_name }}
                            {% else %}
                            Didnt work
                            {% endif %}
                        </span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end"
                        aria-labelledby="userDropdown">
                        <li>
                            <a class="dropdown-item" href="{{ url_for("signout") }}">Sign Out</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
