{% extends "base.html" %}
{% block content %}
    {% include "/user/navbar.html" %}
    <div class="container mt-5">
        <h1 class="text-center">Matching</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Opportunity</th>
                    <th>Company Name</th>
                    <th>Person Name</th>
                    <th>Send Email</th>
                </tr>
            </thead>
            <tbody>
                {% for match in matches %}
                    {% for student in match.students %}
                        <tr>
                            <td>{{ get_opportunity(match.opportunity)['title'] }}</td>
                            <td>{{ get_company_name(get_opportunity(match.opportunity)["employer_id"] ) }}</td>
                            <td>{{ get_student(student).first_name }} {{ get_student(student).last_name }}</td>
                            <td>
                                <button type="button"
                                        class="btn btn-sm btn-primary send-email"
                                        data-student="{{ student }}"
                                        data-student-email="{{ get_student(student).email }}"
                                        data-employer="{{ get_company_email_by_id(get_employer_by_id(match.opportunity) ) }}"
                                        data-opportunity="{{ match.opportunity }}">Send Email</button>
                                <p id="response-{{ student }}" class="plain-center"></p>
                            </td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    </div>
    <br>
    <div class="container mt-5 mb-5 pb-5">
        <h1 class="text-center">Unmatched</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Student ID</th>
                    <th>Email</th>
                    <th>Reason</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for student in not_matched %}
                    <tr>
                        <td>{{ student.name }}</td>
                        <td>{{ student.student_id }}</td>
                        <td>{{ student.email }}</td>
                        <td>{{ student.reason }}</td>
                        <td>
                            <button class="delete-button btn btn-danger" data-target="{{ student._id }}">Delete</button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script src="/static/matching/script.js"></script>
{% endblock content %}
