{% extends "base.html" %}
{% block content %}
    {% include "user/navbar.html" %}
    <div class="card-wrapper">
        <div class="card">
            <h1 class="center">Update Skill</h1>
            <form class="skill_adding_form" name="skill_adding_form">
                <p id="_id" data-id="{{ skill._id }}" hidden></p>
                <input type="text"
                       name="skill_name"
                       class="field"
                       placeholder="Skill name"
                       id="skill_name"
                       value="{{ skill.skill_name|title }}"
                       required />
                <input type="text"
                       name="skill_description"
                       class="field"
                       placeholder="Skill description"
                       id="skill_description"
                       value="{{ skill.skill_description }}"
                       required />
                <p class="error error--hidden"></p>
                <input type="submit" value="Update Skill" class="btn" />
            </form>
        </div>
        <script src="/static/updating_attempted_skill/script.js"></script>
    </div>
{% endblock content %}
