@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,900,400italic,700italic&display=swap);

html {
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-size-adjust: 100%;
    font-family: sans-serif;
}

details,
footer,
main,
nav {
    display: block
}

[hidden] {
    display: none
}

a {
    background: 0 0
}

a:active,
a:hover {
    outline: 0
}

b,
strong {
    font-weight: 700
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

small {
    font-size: 80%
}

img {
    border: 0
}

svg:not(:root) {
    overflow: hidden
}

button,
input,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

button {
    overflow: visible
}

button,
select {
    text-transform: none
}

button,
html input[type=button],
input[type=submit] {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    cursor: pointer
}

button[disabled],
html input[disabled] {
    cursor: default
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input {
    line-height: normal
}

input[type=checkbox] {
    box-sizing: border-box;
    padding: 0
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    height: auto
}

input[type=search] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
    box-sizing: content-box
}

textarea {
    overflow: auto
}

table {
    border-collapse: collapse
}

*,
:after,
:before {
    box-sizing: border-box
}

@media screen and (min-width:940px) {
    @keyframes fadeIn {
        0% {
            opacity: 0
        }

        to {
            opacity: 1
        }
    }

    @keyframes fadeOut {
        0% {
            opacity: 1
        }

        to {
            opacity: 0
        }
    }
}

@keyframes kb-pan-left {
    0% {
        transform: scale(1.15) translate(-50px)
    }

    to {
        transform: scale(1.1) translate(50px)
    }
}

@keyframes kb-pan-right {
    0% {
        transform: scale(1.15) translate(50px)
    }

    to {
        transform: scale(1.1) translate(-50px)
    }
}

@keyframes kb-zoom-in {
    0% {
        transform: scale(1)
    }

    to {
        transform: scale(1.1)
    }
}

@keyframes kb-zoom-out {
    0% {
        transform: scale(1.1)
    }

    to {
        transform: scale(1)
    }
}

@keyframes slide-in-right {
    0% {
        left: 100%
    }

    to {
        left: 0
    }
}

@keyframes slide-out-right {
    0% {
        left: 0
    }

    to {
        left: 100%
    }
}

@keyframes slide-in-left {
    0% {
        left: -100%
    }

    to {
        left: 0
    }
}

@keyframes slide-out-left {
    0% {
        left: 0
    }

    to {
        left: -100%
    }
}

@keyframes text-fade-slide-down {
    0% {
        opacity: .3;
        transform: translateY(-25px)
    }

    to {
        opacity: 1;
        transform: translateY(0)
    }
}

img {
    height: auto;
    max-width: 100%
}

body {
    color: #444;
    font-family: Source Sans Pro, sans-serif;
    font-size: 15px;
    margin: 0;
    padding: 0
}

@media screen and (min-width:600px) {
    body {
        font-size: 17px
    }
}

@media screen and (min-width:960px) {
    body {
        font-size: 18px
    }
}

.h1,
h1 {
    font-size: 2.5rem
}

.h1,
.h2,
h1,
h2 {
    font-weight: 700;
    margin: 1.5em 0 .6em
}

.h2,
h2 {
    font-size: 2rem
}

.h3,
h3 {
    font-size: 1.75rem
}

.h3,
h3 {
    font-weight: 700;
    margin: 1.5em 0 .6em
}

.h1,
h1 {
    margin: 0 0 1.5em;
    position: relative
}

p {
    line-height: 1.5em;
    margin: 0 0 1.5em
}

a {
    color: #365594;
    text-decoration: none
}

main a {
    border-bottom: 1px dotted
}

main a:focus,
main a:hover {
    border-bottom: 1px solid
}

main a:hover {
    border-bottom-style: solid
}

main a:not(.no-link-type-icon)[target$=_blank] {
    margin-right: .16em
}

main a:not(.no-link-type-icon)[target$=_blank]:after {
    color: #767676;
    display: inline-block;
    font-size: .9em;
    margin-left: .3em;
    text-decoration: none
}

main a:not(.no-link-type-icon)[target$=_blank]:after {
    content: "\f08e";
    font-family: var(--abdn-icon-font, "Font Awesome 6 Pro")
}

input[type=email],
input[type=search],
input[type=text] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

time {
    color: #767676
}

ul {
    margin: 0 0 1.5em;
    padding-left: 1.5em
}

ul ul {
    margin-bottom: 0
}

li {
    line-height: 1.5em
}

td>p:last-of-type,
th>p:last-of-type {
    margin-bottom: 0
}

.container>h2:first-child,
.container>h3:first-child {
    margin-top: 0
}

main .h1 {
    display: block;
    font-size: 2em;
    font-weight: 700;
    margin: .67em 0 1em
}

main .h1,
main h1 {
    margin-top: 0
}

main {
    background: #fff
}

main:focus {
    outline: 0
}

.container,
.container-fluid {
    --abdn-gutter-x: 3em;
    --abdn-gutter-y: 0;
    margin-left: auto;
    margin-right: auto;
    padding-left: calc(var(--abdn-gutter-x)*.5);
    padding-right: calc(var(--abdn-gutter-x)*.5);
    width: 100%
}

@media (min-width:480px) {
    .container {
        max-width: 69.666em
    }
}

.row {
    --abdn-gutter-x: 1.5rem;
    --abdn-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(var(--abdn-gutter-x)*-.5);
    margin-right: calc(var(--abdn-gutter-x)*-.5);
    margin-top: calc(var(--abdn-gutter-y)*-1)
}

.row>* {
    box-sizing: border-box;
    flex-shrink: 0;
    margin-top: var(--abdn-gutter-y);
    max-width: 100%;
    padding-left: calc(var(--abdn-gutter-x)*.5);
    padding-right: calc(var(--abdn-gutter-x)*.5);
    width: 100%
}

.col-12 {
    flex: 0 0 auto;
    width: 100%
}

@media (min-width:768px) {
    .col-md-3 {
        flex: 0 0 auto;
        width: 25%
    }

    .col-md-6 {
        flex: 0 0 auto;
        width: 50%
    }
}

@media (min-width:940px) {
    .col-lg-4 {
        flex: 0 0 auto;
        width: 33.33333333%
    }
}

@media (min-width:940px) {
    body {
        --abdn-section-spacing: 4em
    }
}

.container>p:last-child {
    margin-bottom: 0
}

form th {
    background: none;
    padding-top: .6em;
    text-align: left
}

label {
    color: #444;
    position: relative
}

input[type=file],
input[type=text],
select,
textarea {
    background: #fff;
    font-family: inherit;
    font-size: 100%
}

.readonly {
    color: #888
}

td.error {
    background: rgba(255, 0, 0, .1)
}

.small {
    color: #787878;
    font-size: small;
    font-style: italic;
    font-weight: 400
}

form label input[type=text],
form label select {
    display: block;
    font-weight: 400;
    margin: .5em 0
}

span.required {
    border: none;
    color: rgba(255, 0, 0, .8);
    cursor: help;
    font-size: 1.5em;
    line-height: .1em;
    text-decoration: none;
    vertical-align: middle
}

.confirmation,
.information,
.warning {
    border-radius: .5em;
    clear: both;
    display: block;
    margin: 2em 0;
    padding: 1em;
    position: relative
}

.confirmation>:last-child,
.information>:last-child,
.warning>:last-child {
    margin-bottom: 0
}

.confirmation>*,
.information>*,
.warning>* {
    margin-left: 3em
}

.confirmation:before,
.information:before,
.warning:before {
    display: inline-block;
    font-size: 2em;
    left: .5em;
    line-height: 1;
    position: absolute;
    top: .4em
}

.confirmation {
    background: #2e7d32;
    color: #fff
}

.confirmation:before {
    color: #fff;
    content: "\f058";
    font-family: var(--abdn-icon-font, "Font Awesome 6 Pro")
}

.confirmation a,
.confirmation a[target$=_blank]:after {
    color: #fff
}

.information {
    background: #e6effc;
    color: #444
}

.information:before {
    color: #444;
    content: "\f05a";
    font-family: var(--abdn-icon-font, "Font Awesome 6 Pro")
}

.warning {
    background: #af4448;
    color: #fff
}

.warning:before {
    color: #fff;
    content: "\f071";
    font-family: var(--abdn-icon-font, "Font Awesome 6 Pro")
}

.warning a,
.warning a[target$=_blank]:after {
    color: #fff
}

.btn {
    background-color: var(--abdn-btn, #f5f5f5);
    border: 1px solid var(--abdn-btn, #d0d0d0);
    color: var(--abdn-btn-text, #365594);
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    padding: .5em 1em;
    text-align: center;
    text-decoration: none;
    transition: all .3s ease
}

.btn[target$=_blank]:after {
    color: var(--abdn-btn-text, #365594)
}

.btn.hover,
.btn:focus,
.btn:hover {
    background-color: var(--abdn-btn-hover, #fff);
    border: 1px solid var(--abdn-btn-hover, #d0d0d0);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
    color: var(--abdn-btn-hover-text, var(--abdn-primary-highlight, #365594))
}

.btn.hover[target$=_blank]:after,
.btn:focus[target$=_blank]:after,
.btn:hover[target$=_blank]:after {
    color: var(--abdn-btn-hover-text, var(--abdn-primary-highlight, #365594))
}

.btn.btn-sm {
    font-size: .8em
}

.btn.btn-block {
    display: block
}

.btn[disabled] {
    background: #e5e5e5;
    border-color: #e5e5e5;
    color: #767676;
    cursor: not-allowed;
    opacity: 1
}

.btn[disabled]:hover {
    background-color: #e5e5e5;
    border-color: #e5e5e5;
    box-shadow: none;
    color: #767676
}

.btn:before {
    margin-right: .5em;
    transition: all .3s ease
}

.btn:after {
    margin-left: .5em;
    transition: all .3s ease
}

.btn-primary {
    --abdn-btn: #1f3165;
    --abdn-btn-text: #fff;
    --abdn-btn-hover: #131e3e;
    --abdn-btn-hover-text: #fff;
    --abdn-btn-outline-border: #1f3165;
    --abdn-btn-outline-text: #1f3165;
    --abdn-btn-outline-hover: #1f3165;
    --abdn-btn-outline-hover-text: #fff
}

.btn-secondary {
    --abdn-btn: #ffca00;
    --abdn-btn-text: #444;
    --abdn-btn-hover: #cca200;
    --abdn-btn-hover-text: #444;
    --abdn-btn-outline-border: #ffca00;
    --abdn-btn-outline-text: #444;
    --abdn-btn-outline-hover: #ffca00;
    --abdn-btn-outline-hover-text: #444
}

.btn-info {
    --abdn-btn: #e6effc;
    --abdn-btn-text: #444;
    --abdn-btn-hover: #b8d2f7;
    --abdn-btn-hover-text: #444;
    --abdn-btn-outline-border: #e6effc;
    --abdn-btn-outline-text: #444;
    --abdn-btn-outline-hover: #e6effc;
    --abdn-btn-outline-hover-text: #444
}

.btn-danger {
    --abdn-btn: #af4448;
    --abdn-btn-text: #fff;
    --abdn-btn-hover: #8a3639;
    --abdn-btn-hover-text: #fff;
    --abdn-btn-outline-border: #af4448;
    --abdn-btn-outline-text: #af4448;
    --abdn-btn-outline-hover: #af4448;
    --abdn-btn-outline-hover-text: #fff
}

.btn-success {
    --abdn-btn: #2e7d32;
    --abdn-btn-text: #fff;
    --abdn-btn-hover: #205823;
    --abdn-btn-hover-text: #fff;
    --abdn-btn-outline-border: #2e7d32;
    --abdn-btn-outline-text: #2e7d32;
    --abdn-btn-outline-hover: #2e7d32;
    --abdn-btn-outline-hover-text: #fff
}

.btn-warning {
    --abdn-btn: #ffe785;
    --abdn-btn-text: #444;
    --abdn-btn-hover: #ffdd52;
    --abdn-btn-hover-text: #444;
    --abdn-btn-outline-border: #ffe785;
    --abdn-btn-outline-text: #444;
    --abdn-btn-outline-hover: #ffe785;
    --abdn-btn-outline-hover-text: #444
}

@container (width > 63.75em) {}

@container (width > 75cqw) {}

@container (width > 52.2495em) {}

@container (width > 75cqw) {}

footer {
    background: #1f1f1f;
    color: #eee
}

footer>.container {
    padding-bottom: 3em;
    padding-top: 3em
}

footer .footer_wrapper {
    --abdn-gutter-x: 1.5rem;
    --abdn-gutter-y: 0;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin-left: calc(var(--abdn-gutter-x)*-.5);
    margin-right: calc(var(--abdn-gutter-x)*-.5);
    margin-top: calc(var(--abdn-gutter-y)*-1)
}

footer .footer_wrapper .left_column,
footer .footer_wrapper .right_column {
    box-sizing: border-box;
    flex-shrink: 0;
    margin-top: var(--abdn-gutter-y);
    max-width: 100%;
    padding-left: calc(var(--abdn-gutter-x)*.5);
    padding-right: calc(var(--abdn-gutter-x)*.5);
    width: 100%
}

@media (min-width:768px) {

    footer .footer_wrapper .left_column,
    footer .footer_wrapper .right_column {
        flex: 0 0 auto;
        width: 50%
    }

    footer .footer_wrapper .right_column {
        display: flex;
        flex-direction: column;
        justify-content: space-between
    }
}

.footer_utility_links {
    list-style: none;
    margin-top: 2em;
    max-width: 100%;
    padding: 0;
    text-align: center
}

.footer_utility_links li {
    display: inline-block;
    margin: 0 .15em .3em
}

.footer_utility_links a {
    background: #333;
    border-radius: 15em;
    color: #fff;
    display: block;
    padding: .5em .76em
}

.footer_utility_links a:focus,
.footer_utility_links a:hover {
    background: #000;
    color: #fff;
    text-decoration: none
}

.global_contact {
    background-image: url(../images/british_isles_sm_2018.png);
    background-position: right 2.5em;
    background-repeat: no-repeat;
    background-size: 10em;
    padding: 0 0 1.5em
}

@supports (background-image:url(../images/british_isles_sm_2018.webp)) {
    .global_contact {
        background-image: url(../images/british_isles_sm_2018.webp)
    }
}

.uni_logo_footer {
    display: inline-block;
    margin: 0 0 1em
}

.uni_logo_footer img {
    max-width: 100%;
    width: 100%
}

.global_contact dl {
    margin: 0
}

.global_contact dt {
    height: 1em;
    left: -9999em;
    overflow: hidden;
    position: absolute;
    top: auto;
    width: 1em
}

.global_contact dd {
    margin: 0 0 .7em
}

.global_contact dd:last-child {
    margin: 0
}

.phone a {
    border-bottom: 1px dotted;
    color: #ffca00;
    display: inline-block
}

.phone a:focus,
.phone a:hover {
    border-bottom: 1px solid
}

.utility ul {
    list-style: none;
    margin: 0;
    padding: 0
}

.utility li {
    margin: 0 0 .3em
}

.utility a {
    color: #ffca00
}

.utility a:focus,
.utility a:hover {
    text-decoration: underline
}

.where_are_we {
    font-size: .8em;
    margin: 1.3em 0 0
}

.global_social {
    margin-bottom: 2em
}

.global_social h2 {
    font-weight: 200
}

.global_social ul {
    font-size: 1.8em;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center
}

.global_social li {
    display: inline;
    margin: 0 .5em 0 0
}

.global_social li:last-child {
    margin: 0
}

.global_social a {
    color: #ccc
}

.global_social a,
.global_social a:focus,
.global_social a:hover {
    text-decoration: none
}

a.fa-youtube:focus,
a.fa-youtube:hover {
    color: #e52d27
}

a.fa-twitter:focus,
a.fa-twitter:hover {
    color: #1da1f2
}

a.fa-linkedin:focus,
a.fa-linkedin:hover {
    color: #0077b5
}

a.fa-facebook-square:focus,
a.fa-facebook-square:hover {
    color: #3b5998
}

a.fa-pinterest:focus,
a.fa-pinterest:hover {
    color: #e52d27
}

a.fa-instagram:focus,
a.fa-instagram:hover {
    color: #3b5998
}

a.fa-weibo:focus,
a.fa-weibo:hover {
    color: #e52d27
}

.global_social h2 {
    font-weight: 200;
    height: 1em;
    left: -9999em;
    overflow: hidden;
    position: absolute;
    top: auto;
    width: 1em
}

.top_of_page_align {
    position: relative
}

.top_of_page_align .top_of_page {
    background: #333;
    box-sizing: content-box;
    clear: both;
    color: #eee;
    display: block;
    font-size: .8em;
    left: 0;
    margin: 0 auto;
    padding: .5em;
    position: absolute;
    right: 0;
    text-align: center;
    transition: padding .3s ease;
    width: 7em
}

.top_of_page_align .top_of_page:after {
    border-bottom: 1px solid #333;
    bottom: 0;
    transition: border-bottom-width .3s ease
}

.top_of_page_align .top_of_page:after,
.top_of_page_align .top_of_page:before {
    border-left: 4em solid transparent;
    border-right: 4em solid transparent;
    content: " ";
    height: 0;
    position: absolute;
    right: 0;
    width: 0
}

.top_of_page_align .top_of_page:before {
    border-bottom: .5em solid #333;
    top: 0;
    transition: top .3s ease
}

.top_of_page_align .top_of_page:focus,
.top_of_page_align .top_of_page:hover {
    background: var(--abdn-primary-highlight, #365594);
    color: #eee;
    padding-bottom: .9em;
    padding-top: .1em;
    text-decoration: none;
    transition: padding .2s ease
}

.top_of_page_align .top_of_page:focus:after,
.top_of_page_align .top_of_page:hover:after {
    border-bottom-color: #1f1f1f;
    border-bottom-width: .5em;
    transition: border-bottom-width .2s ease
}

.top_of_page_align .top_of_page:focus:before,
.top_of_page_align .top_of_page:hover:before {
    border-bottom-color: var(--abdn-primary-highlight, #365594);
    top: -.45em;
    transition: top .2s ease
}

footer .dark {
    padding: .5em 0
}

.legals {
    font-size: .8em;
    margin: .7em 0 0
}

.legals li a {
    background: #222;
    color: #fff;
    display: block;
    padding: .5em;
    transition: background .3s ease-out
}

.legals li a:focus,
.legals li a:hover {
    background: #444;
    text-decoration: none;
    transition: background 0s
}

.charity {
    color: #888;
    font-size: .8em;
    line-height: 1;
    text-align: center
}

.charity p {
    color: hsla(0, 0%, 100%, .7);
    margin: .7em 0
}

@media only screen and (min-width:300px) {
    .uni_logo_footer img {
        width: 300px
    }
}

@media screen and (min-width:440px) {
    .legals {
        text-align: center
    }

    .legals li {
        display: inline-block
    }

    .legals li a,
    .legals li a:focus,
    .legals li a:hover {
        background: inherit
    }

    .legals li a:focus,
    .legals li a:hover {
        text-decoration: underline
    }

    .charity {
        clear: both
    }
}

@media screen and (min-width:600px) {
    .top_of_page_align {
        top: 3em
    }

    .top_of_page_align .top_of_page {
        bottom: 0;
        left: unset !important;
        position: absolute
    }

    .top_of_page_align .top_of_page:focus,
    .top_of_page_align .top_of_page:hover {
        padding-bottom: 1em;
        padding-top: .5em
    }

    .top_of_page_align .top_of_page:focus:after,
    .top_of_page_align .top_of_page:hover:after {
        border-bottom-color: #333
    }
}

@media screen and (min-width:768px) {
    .footer_utility_links {
        margin-top: 0;
        text-align: right
    }

    .global_social {
        right: 5%
    }

    .global_social ul {
        text-align: right
    }

    .global_social h2 {
        height: auto;
        left: auto;
        margin: 0 0 .3em;
        overflow: visible;
        position: relative;
        text-align: right;
        width: auto
    }

    .global_contact {
        background-position: right 2.5em;
        float: left;
        max-width: 18em
    }

    .global_contact img {
        max-width: 100%
    }
}

@media screen and (min-width:1000px) {
    .legals li {
        line-height: 1
    }
}

@media screen and (min-width:1281px) {
    .global_social {
        right: 0
    }
}

.modal {
    --abdn-modal-zindex: 10550;
    --abdn-modal-width: 500px;
    --abdn-modal-padding: 1rem;
    --abdn-modal-margin: 0.5rem;
    --abdn-modal-color: ;
    --abdn-modal-bg: #fff;
    --abdn-modal-border-color: rgba(0, 0, 0, .2);
    --abdn-modal-border-width: 1px;
    --abdn-modal-border-radius: 0.5rem;
    --abdn-modal-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, .075);
    --abdn-modal-inner-border-radius: calc(0.5rem - 1px);
    --abdn-modal-header-padding-x: 1rem;
    --abdn-modal-header-padding-y: 1rem;
    --abdn-modal-header-padding: 1rem 1rem;
    --abdn-modal-header-border-color: #dee2e6;
    --abdn-modal-header-border-width: 1px;
    --abdn-modal-title-line-height: 1.5;
    --abdn-modal-footer-gap: 0.5rem;
    --abdn-modal-footer-bg: ;
    --abdn-modal-footer-border-color: #dee2e6;
    --abdn-modal-footer-border-width: 1px;
    display: none;
    height: 100%;
    left: 0;
    outline: 0;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: var(--abdn-modal-zindex)
}

.modal-content {
    background-clip: padding-box;
    background-color: var(--abdn-modal-bg);
    border: var(--abdn-modal-border-width) solid var(--abdn-modal-border-color);
    border-radius: var(--abdn-modal-border-radius);
    color: var(--abdn-modal-color);
    display: flex;
    flex-direction: column;
    outline: 0;
    pointer-events: auto;
    position: relative;
    width: 100%
}

@media (min-width:480px) {
    .modal {
        --abdn-modal-margin: 1.75rem;
        --abdn-modal-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .15)
    }
}

dt.email~dd:before {
    content: "\f0e0"
}

dt.phone~dd:before {
    content: "\f095"
}



#top {
    transition: margin-top .3s ease
}



@media screen and (min-width:700px) {
    .utility a {
        display: inline
    }
}

:root {
    --abdn-icon-font: "Font Awesome 6 Pro";
    --abdn-primary: #1f3165;
    --abdn-primary-highlight: #365594;
    --abdn-primary-darkened: #142149;
    --abdn-secondary: #ffca00;
    --abdn-secondary-highlight: #ffe785;
    --abdn-accent: #af0861;
    --abdn-accent-highlight: #5c284f;
    --abdn-blue-80: #142149;
    --abdn-blue-60: #1f3165;
    --abdn-blue-40: #365594;
    --abdn-blue-20: #e6effc;
    --abdn-dark-blue: #1f3165;
    --abdn-light-blue: #e6effc;
    --abdn-mid-blue: #365594;
    --abdn-burgundy-80: #5c284f;
    --abdn-burgundy-60: #861857;
    --abdn-burgundy-40: #af0861;
    --abdn-burgundy-20: #e09fc2;
    --abdn-velvet-dark: #5c284f;
    --abdn-velvet-light: #af0861;
    --abdn-yellow-40: #ffca00;
    --abdn-yellow-20: #ffe785;
    --abdn-black: #000;
    --abdn-grey-90: #1f1f1f;
    --abdn-grey-80: #333;
    --abdn-grey-70: #444;
    --abdn-grey-60: #4c4c4c;
    --abdn-grey-50: #767676;
    --abdn-grey-40: #d0d0d0;
    --abdn-grey-30: #e5e5e5;
    --abdn-grey-20: #f1f1f1;
    --abdn-grey-10: #f5f5f5;
    --abdn-white: #fff;
    --abdn-semantic-lightblue: #e6effc;
    --abdn-semantic-red: #af4448;
    --abdn-semantic-green: #2e7d32;
    --abdn-semantic-orange: #ffe785;
    --abdn-info: #e6effc;
    --abdn-danger: #af4448;
    --abdn-success: #2e7d32;
    --abdn-warning: #ffe785;
    --abdn-dark-text: #444;
    --abdn-link-blue: #365594;
    --abdn-primary-text: #fff;
    --abdn-primary-highlight-text: #fff;
    --abdn-secondary-text: #444;
    --abdn-secondary-highlight-text: #444;
    --abdn-accent-text: #fff;
    --abdn-accent-highlight-text: #fff;
    --abdn-focus: #9263de
}

.offscreen {
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px
}

.hidden {
    display: none
}

.dark {
    background: #333;
    color: #ddd
}

.dark a {
    color: #8997cf
}

.fab {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: auto;
    display: var(--fa-display, inline-block);
    font-style: normal;
    font-variant: normal;
    line-height: 1
}

@keyframes fa-beat {

    0%,
    90% {
        transform: scale(1)
    }

    45% {
        transform: scale(var(--fa-beat-scale, 1.25))
    }
}

@keyframes fa-bounce {
    0% {
        transform: scale(1) translateY(0)
    }

    10% {
        transform: scale(var(--fa-bounce-start-scale-x, 1.1), var(--fa-bounce-start-scale-y, .9)) translateY(0)
    }

    30% {
        transform: scale(var(--fa-bounce-jump-scale-x, .9), var(--fa-bounce-jump-scale-y, 1.1)) translateY(var(--fa-bounce-height, -.5em))
    }

    50% {
        transform: scale(var(--fa-bounce-land-scale-x, 1.05), var(--fa-bounce-land-scale-y, .95)) translateY(0)
    }

    57% {
        transform: scale(1) translateY(var(--fa-bounce-rebound, -.125em))
    }

    64% {
        transform: scale(1) translateY(0)
    }

    to {
        transform: scale(1) translateY(0)
    }
}

@keyframes fa-fade {
    50% {
        opacity: var(--fa-fade-opacity, .4)
    }
}

@keyframes fa-beat-fade {

    0%,
    to {
        opacity: var(--fa-beat-fade-opacity, .4);
        transform: scale(1)
    }

    50% {
        opacity: 1;
        transform: scale(var(--fa-beat-fade-scale, 1.125))
    }
}

@keyframes fa-flip {
    50% {
        transform: rotate3d(var(--fa-flip-x, 0), var(--fa-flip-y, 1), var(--fa-flip-z, 0), var(--fa-flip-angle, -180deg))
    }
}

@keyframes fa-shake {
    0% {
        transform: rotate(-15deg)
    }

    4% {
        transform: rotate(15deg)
    }

    24%,
    8% {
        transform: rotate(-18deg)
    }

    12%,
    28% {
        transform: rotate(18deg)
    }

    16% {
        transform: rotate(-22deg)
    }

    20% {
        transform: rotate(22deg)
    }

    32% {
        transform: rotate(-12deg)
    }

    36% {
        transform: rotate(12deg)
    }

    40%,
    to {
        transform: rotate(0deg)
    }
}

@keyframes fa-spin {
    0% {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(1turn)
    }
}

:root {
    --fa-font-brands: normal 400 1em/1 "Font Awesome 6 Brands"
}

@font-face {
    font-display: block;
    font-family: Font Awesome\ 6 Brands;
    font-style: normal;
    font-weight: 400;
    src: url(../webfonts/fa-brands-400.woff2) format("woff2"), url(../webfonts/fa-brands-400.ttf) format("truetype")
}

.fab {
    font-family: Font Awesome\ 6 Brands;
    font-weight: 400
}

.fa-facebook-square:before {
    content: "\f082"
}

.fa-instagram:before {
    content: "\f16d"
}

.fa-linkedin:before {
    content: "\f08c"
}

.fa-pinterest:before {
    content: "\f0d2"
}

.fa-twitter:before {
    content: "\f099"
}

.fa-weibo:before {
    content: "\f18a"
}

.fa-youtube:before {
    content: "\f167"
}

:root {
    --fa-font-light: normal 300 1em/1 "Font Awesome 6 Pro"
}

@font-face {
    font-display: block;
    font-family: Font Awesome\ 6 Pro;
    font-style: normal;
    font-weight: 300;
    src: url(../webfonts/fa-light-300.woff2) format("woff2"), url(../webfonts/fa-light-300.ttf) format("truetype")
}

:root {
    --fa-font-regular: normal 400 1em/1 "Font Awesome 6 Pro"
}

@font-face {
    font-display: block;
    font-family: Font Awesome\ 6 Pro;
    font-style: normal;
    font-weight: 400;
    src: url(../webfonts/fa-regular-400.woff2) format("woff2"), url(../webfonts/fa-regular-400.ttf) format("truetype")
}

:root {
    --fa-font-solid: normal 900 1em/1 "Font Awesome 6 Pro"
}


@font-face {
    font-display: block;
    font-family: Font Awesome Kit;
    font-style: normal;
    font-weight: 400;
    src: url(../webfonts/custom-icons.woff2) format("woff2"), url(../webfonts/custom-icons.ttf) format("truetype")
}